{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "declaration-empty-line-before": "never",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "no-descending-specificity": null
  }
}
